{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta charset="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, mininum-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{% static 'js/main.js' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

</head>
<body>

<section id="container">

    <header id="header">
      <section class="inner">

          <h1 class="logo">
            <a href="index.html">
              <div class="sprite_insta_logo"></div>
              <div class="sprite_write_logo"></div>
            </a>
          </h1>

          <div class="search_box">
            <input type="text" placeholder="검색" id="search_field">

            <div class="fake_field">
              <span class="sprite_small_search_icon"></span>
              <span>검색</span>
            </div>
          </div>

          <div class="right_icons">
            <div class="sprite_camera_icon"><a href="#"></a></div>
            <div class="sprite_compass_icon"><a href="#"></a></div>
            <div class="sprite_heart_icon_outline"><a href="#"></a></div>
            <div class="sprite_user_icon_outline"><a href="#"></a></div>
          </div>
      </section>
    </header>

    {% block content %}
    {% endblock %}

    </section>
</body>
</html>