{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta charset="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, mininum-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

   {% block head %}
   {% endblock %}

</head>
<body>

<section id="container">

    <header id="header">
      <section class="inner">

          <h1 class="logo">
            <a href="{% url 'post:post_list' %}">
              <div class="sprite_insta_logo"></div>
              <div class="sprite_write_logo"></div>
            </a>
          </h1>

          <form method="POST" action="{% url 'post:user_search' %}">
              {% csrf_token %}
              <div class="search_box">
                <input type="text" placeholder="검색" id="search_field" name="search_field">

                <div class="fake_field">
                  <button type="submit" class="sprite_small_search_icon"></button>
                  <span>검색</span>
                </div>
              </div>
          </form>

          <div class="right_icons">
            <a href="{% url 'post:post_new' %}"><div class="sprite_camera_icon"></div></a>
            <div class="sprite_compass_icon"><a href="#"></a></div>
            <div class="sprite_heart_icon_outline"><a href="#"></a></div>
            {% if user.is_authenticated %}
            <a href="{% url 'post:my_post_list' user.username %}"><div class="sprite_user_icon_outline"></div></a>
            {% else %}
            <a href="{% url 'accounts:login' %}"><div class="sprite_user_icon_outline"></div></a>
            {% endif %}
          </div>
      </section>
    </header>

    {% block content %}
    {% endblock %}
    </section>

    {% block js %}
    {% endblock %}

</body>
</html>